<%= semantic_form_for([:admin, @plugin]) do |form| %>

	<%= render "admin/shared/form_buttons", :form => form %>

	<%= render "admin/shared/form_errors" %>

	<div class="tabs">
		
		<ul>
			<li><a href="#tab_main">Main</a></li>
		</ul>		
	
		<div id="tab_main">
			  
	  	<%= form.inputs do -%>
				<%= form.input :active %>
				<%= form.input :title %>
				<%= form.input :parent_id, :as => :select, :collection => Plugin.all %>
				<%= form.input :route %>
				<%= form.input :position %>
				<%= form.input :note %>
		  <%- end -%>
			  
		</div>
	
	</div>
	
	<%= render "admin/shared/form_buttons", :form => form %>

<% end %>