<%= semantic_form_for([:admin, @attachment], :html => { :multipart => true }) do |form| %>

	<%= render "admin/shared/form_buttons", :form => form %>

	<%= render "admin/shared/form_errors" %>

	<div class="tabs">
		
		<ul>
			<li><a href="#tab_main">Main</a></li>
		</ul>		
	
		<div id="tab_main">
			  
			  	<%= form.inputs do -%>
						<%= form.input :title %>
						<%= form.input :attachment, :as => :file %>
				  <%- end -%>
			  
		</div>
	
	</div>

   <%= render "admin/shared/form_buttons", :form => form %>

<% end %>