<%= semantic_form_for([:admin, @setting]) do |form| %>

	<%= render "admin/shared/form_buttons", :form => form %>

	<%= render "admin/shared/form_errors" %>

	<div class="tabs">
		
		<ul>
			<li><a href="#tab_main">Main</a></li>
		</ul>		
	
		<div id="tab_main">
			  
			  	<%= form.inputs do -%>
						<%= form.input :name %>
						<% if !@setting.name.nil? && @setting.name.index("password") %>
							<%= form.input :value, :as => :password, :input_html => {:value => ""} %>
						<% else %>
							<%= form.input :value %>
					  <% end %>
						<%= form.input :note %>
				  <%- end -%>
			  
		</div>
	
	</div>

   <%= render "admin/shared/form_buttons", :form => form %>

<% end %>